<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="login-header">

</div>
<div align="center" class="login-form">
    <div class="login-title">
        <h4>Please Login</h4>
    </div>
    <div>
        <form action="/home/" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <br><br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>
<div class="login-footer">

</div>
</body>
</html>